DATABASE_URL="postgresql://postgres:mypassword@localhost:5432/Blogit?schema=Blogit"
JWTSECRET="dosfiasofjasofjaofienotjosdofafljadfoeneoahfwefoinfaosjfdj"
ORIGIN ='https://blogit-ei78.onrender.com'
PORT=3000
