DATABASE_URL="postgresql://postgres:mypassword@localhost:5432/Blogit?schema=Blogit"
JWTSECRET="dosfiasofjasofjaofienotjosdofafljadfoeneoahfwefoinfaosjfdj"
ORIGIN ='https://blogit-ei78.onrender.com'
CLOUD_NAME='kjlfiaflflf'
COULDINARY_API_KEY='sfjflaiffljfk'
COULDINARY_API_SECRET= 'sffiajflfiff'
PORT=3000
